/*=========================================
******         BODY ELEMENTS         ******
=========================================*/

html,
body {
    /*    font-family: 'Abel', sans-serif;*/
    font-family: 'Roboto';
    font-size: 1em;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    margin: 0 0 1em;
    padding: 0;
    line-height: 2em;
}

a {
    color: inherit;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

label:hover,
a:hover {
    color: #999;
}

img {
    display: block;
    width: 100%;
}

.header-spacer {
    font-size: 1.4rem;
    padding: 2%;
}

.photo-feed {
    padding: 0% 9% 2%;
}

.photo {
    float: left;
    padding: 0% 1% 2%;
}

.half-width {
    width: 48%;
}

/*=========================================
******             HEADER            ******
=========================================*/

header {
    font-size: 1.4rem;
    background: rgba(255, 255, 255, 0);
    width: 100%;
    position: fixed;
    clear: both;
    z-index: 999;
    -ms-transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
}
.nav {
    float: left;
    padding: 2% 0% 2% 10%;
}
.nav a {
    text-decoration: none;
    margin-right: 20px;
}
.active-page {
    color: #999;
}
.navbg-in {
    background: rgba(0, 0, 0, .4);
}
.navbg-in a {
    color: #fff;
}
.navbg-in a:hover {
    color: #666;
}
.navbg-in a.active-page {
    color: #666;
}
.social {
    float: right;
    list-style-type;
    padding: 2% 10% 2% 0%;
    margin: 0;
}
.social li {
    display: inline;
    margin: 0 .25em;
}

/*=========================================
******         RESPONSIVE            ******
=========================================*/

/* Standard iPad */
@media (max-width:768px) {
    .nav,
    .social,
    .header-spacer {
        font-size: 1.2rem;
        padding: 4% 2%;
    }
    
    .nav a {
        margin-right: none;
    }
    
    .photo-feed {
        padding: 0% 2% ;
    }
    
    .half-width {
        width: 100%;
    }
}

/* 4.7-inch iPhone */
@media (max-width:375px) {
    .nav,
    .social,
    .header-spacer {
        font-size: 1rem;
    }
}
